{
  "root": true,
  "ignorePatterns": ["bld", ".bld-cache"],
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es2020": true
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/default"],
      "parserOptions": {
        "project": "!(node_modules)/**/tsconfig.json"
      }
    },
    {
      "files": ["packages/makescript-shared/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/makescript/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/makescript-agent/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    }
  ]
}
